* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: black;
  color: white;
  font-weight: 500;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#root {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}

button {
  padding: 6px 12px;
  background-color: black;
  border: 2px solid gray;
  color: white;
  font-size: 18px;
  font-weight: bold;
  border-radius: 15px;
  cursor: pointer;
  transition: all ease-in 0.3s;

  &:hover {
    border-color: coral;
    color: coral;
  }
}