.toDoApp {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    background-color: var(--color-bg-card);
    padding: 1.5rem;
    border-radius: 24px;
    corner-shape: squircle;
    box-shadow: 0px 0px 3px 0.5px var(--color-primary-light);

    h1 {
        font-size: clamp(32px, 2.5vw, 3.5rem);
        font-weight: bold;
    }

    .featureGroup {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;

        label {
            align-self: self-start;
            font-size: 20px;
            font-weight: 500;
        }

        .inputGroup {
            width: 100%;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            padding: 0.5rem;
            border-radius: 24px;
            corner-shape: squircle;
            box-shadow: 0px 0px 1px 0.5px var(--color-primary-light);
            transition: all ease-in-out 0.3s;

            input {
                flex-grow: 1;
                padding: 8px;
                font-family: inherit;
                font-size: 18px;
                border: 2px solid transparent;
                border-radius: 24px;
                corner-shape: squircle;
                outline: none;
            }

            svg {
                width: 30px;
                height: 30px;
                fill: var(--color-primary-hover);
            }

            &:focus-within {
                box-shadow: 0px 0px 3px 0.5px var(--color-primary-light);
            }
        }

        .btn {
            flex-grow: 1;
            width: 100%;
            padding: 12px 16px;
            color: var(--color-bg-card);
            background-color: var(--color-primary);
            border-radius: 24px;
            corner-shape: squircle;
            border: 2px solid transparent;
            font-size: 18px;
            font-weight: 500;
            font-family: inherit;
            cursor: pointer;
            transition: all ease-in 0.3s;

            &:hover {
                background-color: var(--color-primary-hover);
            }
        }

        .taskList {
            display: flex;
            justify-content: center;
            flex-direction: column;

            li {
                list-style: none;
                padding: 8px;
                background-color: transparent;
                border-radius: 12px;
                corner-shape: squircle;
                transition: all ease-in-out 0.3s;

                .task {
                    width: 100%;
                    display: inline-flex;
                    align-items: center;
                    justify-content: space-between;
                    gap: 1rem;

                    .taskText {
                        display: inline-flex;
                        gap: 1.2rem;
                        flex-grow: 1;

                        input[type='text'] {
                            flex-grow: 1;
                            padding: 8px;
                            font-family: inherit;
                            font-size: 18px;
                            border: 2px solid transparent;
                            border-radius: 24px;
                            corner-shape: squircle;
                            outline: none;
                            box-shadow: 0px 0px 2px var(--color-primary-light);
                        }

                        input[type='checkbox'] {
                            display: inline-flex;
                            justify-content: center;
                            align-items: center;
                            appearance: none;
                            width: 24px;
                            box-shadow: 0px 0px 2px 0.8px var(--color-primary-light);
                            border-radius: 8px;
                            corner-shape: squircle;
                            cursor: pointer;

                            &:focus-visible {
                                outline: 2px solid var(--color-primary);
                            }

                            &:checked {
                                background: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
                                background-color: var(--color-primary-hover);
                            }

                            &:focus {
                                outline: 1px solid var(--color-bg-page);
                                outline-offset: 2px;
                            }

                            &:checked+span {
                                text-decoration: line-through;
                                color: var(--color-text-muted);
                            }
                        }

                        p {
                            color: var(--color-text-primary);
                            font-size: 18px;
                            font-weight: 400;
                            max-width: clamp(26ch, 40vw, 36ch);
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            overflow: hidden;
                        }
                    }

                    .taskActions {
                        display: inline-flex;
                        align-items: center;
                        gap: 10px;
                        transition: all ease-in-out 0.3s;

                        .actionBtn {
                            padding: 4px;
                            border: none;
                            border-radius: 8px;
                            corner-shape: squircle;
                            background-color: transparent;

                            svg {
                                width: 24px;
                                height: 24px;
                                cursor: pointer;
                                fill: var(--color-text-muted);
                                transition: all ease-in-out 0.3s;
                            }

                            &:first-child:hover svg {
                                fill: var(--color-primary-hover);
                            }

                            &:first-child:hover {
                                background: linear-gradient(135deg,
                                    color-mix(in srgb, var(--color-primary-hover) 18%, white),
                                    color-mix(in srgb, var(--color-primary-hover) 25%, white),
                                );
                            }

                            &:last-child:hover svg {
                                fill: var(--color-danger-primary);
                            }
                        }
                    }
                }

                .btn {
                    padding: clamp(4px, 0.5rem, 1.2vw) clamp(8px, 1rem, 2vw);
                }

                &:hover {
                    box-shadow: 0px 0px 3px var(--color-primary-light);
                    background-color: var(--color-bg-page);
                }
            }
        }

        .taskStatusBar {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            gap: 1rem;

            p {
                font-size: 16px;
                color: var(--color-text-muted);
            }

            .taskStatus {
                display: inline-flex;
                justify-content: center;
                align-items: center;
                gap: 12px;
                padding: 4px 8px;
                background-color: var(--color-bg-page);
                border-radius: 12px;
                corner-shape: squircle;

                .statusBtn {
                    padding: 4px 8px;
                    color: var(--color-text-muted);
                    transition: all ease-in 0.3s;
                    border: 1px solid transparent;
                    background-color: transparent;
                    font-family: inherit;
                    font-size: 16px;
                    cursor: pointer;
                    font-weight: 500;
                    border-radius: 12px;
                    corner-shape: squircle;

                    &:hover,
                    &.active {
                        color: var(--color-primary-hover);
                        background-color: var(--color-bg-card);
                    }
                }
            }

            .clearBtn {
                padding: 4px;
                background-color: transparent;
                border-radius: 12px;
                corner-shape: squircle;
                text-transform: uppercase;
                font-family: inherit;
                font-size: 16px;
                font-weight: 600;
                color: var(--color-text-muted);
                letter-spacing: 1.2px;
                border: none;
                cursor: pointer;

                &:hover {}
            }
        }
    }
}

