* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.85);
  color: white;
  font-family: "JetBrains Mono", "monospace";
  font-size: 16px;
  padding: 1.5rem;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.2rem;
  width: 100%;
  height: 100%;
  font-size: 16px;
}

.gradient-txt {
  background: linear-gradient(90deg, red, orange, yellow, green, skyblue, blue, indigo);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  background-size: 600%;
  animation: gradientMove 8s linear infinite;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

button {
  padding: 0.5rem 1rem;
  background-color: white;
  border: none;
  outline: none;
  box-shadow: 2px 4px 0 2px gray;
  border-radius: 12px;
  cursor: pointer;
  transition: all ease 0.3s;
  font-size: 16px;
  font-weight: bold;
  font-family: inherit;

  &:active {
    box-shadow: 0px 0px 0px 0px white;
  }
}

label {
  font-size: 16px;
}

input,
textarea {
  padding: 0.5rem 1rem;
  border-radius: 8px;
  border: none;
  outline: none;
  box-shadow: 0.5px 0.5px 2.5px 3.5px gray;
  font-size: 16px;
  font-family: inherit;
  transition: all ease-out 0.3s;

  &:focus {
    box-shadow: 0.5px 0.5px 10px 3.5px rgba(112, 30, 171, 0.851);
  }
}

.boxStyle {
  min-width: "150px";
  min-height: "150px";
  border-radius: "12px";
  font-size: "20px";
  background-color: currentColor;
  color: "black";
  padding: "1rem";
  display: "flex";
  justify-content: "center";
  align-items: "center";
  font-weight: "bold";
  cursor: "pointer";
  transition: "all ease-in-out 0.3s"
}