* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.85);
  color: white;
  font-family: "JetBrains Mono", "monospace";
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.2rem;
  width: 100%;
  height: 100%;
}

.gradient-txt {
  background: linear-gradient(90deg, red, orange, yellow, green, skyblue, blue, indigo);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  background-size: 600%;
  animation: gradientMove 8s linear infinite;
}

@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}