@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #0d9488;
  --color-primary-hover: #0f766e;
  --color-primary-light: #5eead4;
  --color-bg-page: #ecfdfb;

  /* --color-primary: #f97316;
  --color-primary-hover: #ea580c;
  --color-primary-light: #fed7aa;
  --color-bg-page: #fff7ed; */

  /* --color-primary: #7c3aed;
  --color-primary-hover: #6d28d9;
  --color-primary-light: #ddd6fe;
  --color-bg-page: #faf5ff; */


  /* --color-primary: #2563eb;
  --color-primary-hover: #1d4ed8;
  --color-primary-light: #bfdbfe;
  --color-bg-page: #eff6ff; */

  /* --color-primary: #dc2626;
  --color-primary-hover: #b91c1c;
  --color-primary-light: #fecaca; 
  --color-bg-page: #fef2f2; */

  /* --color-primary: #f59e0b;
  --color-primary-hover: #d97706;
  --color-primary-light: #fde68a; 
  --color-bg-page: #fffbeb; */

  --color-bg-card: #ffffff;
  --color-bg-muted: #f0fdfa;

  --color-border: #ccfbf1;
  --color-border-strong: #99f6e4;

  --color-text-primary: #0f172a;
  --color-text-secondary: #475569;
  --color-text-muted: #94a3b8;

  --color-action-success: #14b8a6;
  --color-action-danger: #e5e7eb;
  --color-action-danger-icon: #9ca3af;

  --color-btn-primary-text: #ffffff;
  --color-btn-secondary-bg: #e5e7eb;
  --color-btn-secondary-text: #0f172a;
  --color-danger-primary: #dc2626;

  --color-shadow: rgba(15, 23, 42, 0.08);

  --font-Fredoka: "Fredoka", sans-serif;
}

body {
  min-height: 100vh;
  background-color: var(--color-bg-page);
  font-size: 16px;
  font-family: var(--font-Fredoka);
}

#root {
  max-width: 600px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 1rem;
}
/* 
@media (prefers-color-scheme: light) {
  :root {
    --color-primary: #f97316;
    --color-primary-hover: #ea580c;
    --color-primary-light: #fed7aa;
    --color-bg-page: #fff7ed;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: #2563eb;
    --color-primary-hover: #1d4ed8;
    --color-primary-light: #bfdbfe;
    --color-bg-page: #eff6ff;
  }
} */